.containor1{
    border: 2px solid black;
    height: 95vh;
    width: 90vw;
    margin-left: 50px;
}

.head1{
    
    display: flex;
    
    margin-left: 15%;
   
    height: 80px;
   
   
   
}
.name1{
    
    border-radius: 180px 10px 10px 180px;
    height: 15vh;
    width: 100vh;
    margin-left: 10%;
    margin-top: 13px;
    text-align: center;
    background-color: #f0a9c4;
}

   